WORKOS_API_KEY=''
WORKOS_CLIENT_ID=''
WORKOS_COOKIE_PASSWORD=''
WORKOS_REDIRECT_URI='http://localhost:6970/auth/callback'
DATABASE_URL=''
POOLED_DATABASE_URL=''
POSTHOG_KEY=''
POSTHOG_HOST='https://us.i.posthog.com'
SMITHERY_API_KEY=''
AGENTMAIL_API_KEY=''
AGENTMAIL_INBOX_ID=''
