VITE_FLAMECAST_API_URL=http://localhost:6970
WORKOS_API_KEY=''
WORKOS_CLIENT_ID='client_01KD3FTVXPFS0D95FFD7E2XH9K'
WORKOS_COOKIE_PASSWORD=''
WORKOS_REDIRECT_URI='http://localhost:5173/auth/callback'
DATABASE_URL=''
VITE_PUBLIC_POSTHOG_KEY='phc_XGbF88BY34rORKd5MyiObPxtCWZTxma7H6dYjTtmlJN'
VITE_PUBLIC_POSTHOG_HOST='https://us.i.posthog.com'